[Desktop Entry]
Version=1.0
Name=poppyS
Comment=poppyS is a genuin PDF Reader for syntactically highlighting Natural Languages (Now Only Eng. and Jp.)
Keywords=pdf;
Exec=/home/yourUserName/.local/bin/poppyS-exe %u
Path=/home/yourUserName/.local/bin/
Icon=/home/yourUserName/poppyS/poppyS.png
Terminal=false
Type=Application
Categories=Viewer;Utility;Development;
MimeType=application/pdf;
